{% extends 'base.html.twig' %}

{% block title %}Benevolat index{% endblock %}

{% block body %}
    <h1>Benevolat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Heure_debut_benevolat</th>
                <th>Heure_fin_benevolat</th>
                <th>Nombre_total_benevolat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for benevolat in benevolats %}
            <tr>
                <td>{{ benevolat.id }}</td>
                <td>{{ benevolat.heureDebutBenevolat ? benevolat.heureDebutBenevolat|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ benevolat.heureFinBenevolat ? benevolat.heureFinBenevolat|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ benevolat.nombreTotalBenevolat }}</td>
                <td>
                    <a href="{{ path('app_benevolat_show', {'id': benevolat.id}) }}">show</a>
                    <a href="{{ path('app_benevolat_edit', {'id': benevolat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_benevolat_new') }}">Create new</a>
{% endblock %}
