{% extends 'base.html.twig' %}

{% block title %}Refuge de St brès pour équidés{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/details.css')}}">
{% endblock %}

{% block main %}


<table>
    <tr>
        <th>Photo</th>
        <th>Nom</th>
        <th>Type</th>
        <th>Date de Naissance</th>
        <th>Âge</th>
        <th>Nourriture</th>
        <th>Soins</th>
        <th>Carnet de santé</th>
        <th>Histoire</th>
        <!-- Ajoutez d'autres colonnes d'informations ici -->
    </tr>
    <tr>
        <td><img src="{{ asset('' ~ pensionnaire.getImagePensionnaire()) }}" alt="carousel-img" class="carousel-img" /></td>
        <td>{{ pensionnaire.getNomPensionnaire() }}</td>
        <td>{{ pensionnaire.getTypePensionnaire() }}</td>
        <td>{{ pensionnaire.getDateDeNaissancePensionnaire() ? pensionnaire.getDateDeNaissancePensionnaire()|date('Y-m-d') : '' }}</td>
        <td>    {% if pensionnaire.getDateDeNaissancePensionnaire() %}
            {% set today = "now"|date("Y-m-d") %}
            {% set birthday = pensionnaire.getDateDeNaissancePensionnaire()|date("Y-m-d") %}
            {% set age = today|date("Y") - birthday|date("Y") - (today < birthday ? 1 : 0) %}
            {{ age }}
        {% else %}
            N/A
        {% endif %}
        </td>
        <td>{{ informationsPensionnaires.nourritureInformationPensionnaire() }}</td>
        <td>{{ informationsPensionnaires.soinInformationPensionnaire() }}</td>
        <td>{{ informationsPensionnaires.carnetDeSanteInformationPensionnaire() }}</td>
        <td>{{ informationsPensionnaires.histoireInformationPensionnaire() }}</td>
    </tr>
</table>

{% include 'components/carousel.html.twig'%}




{% endblock %}

