{% extends 'base.html.twig'%}

{% block title %}Calendrier{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/calendar.css')}}">
    <link rel="stylesheet" href="{{asset('styles/popover.css')}}">
    <link rel="stylesheet" href="{{asset('styles/carousel.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
        <script src="{{ asset('js/calendar.js') }}"></script> 
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js" integrity="sha256-J37ZtjEw94oWBNZ9w/XC73raGXE9t10//XHJfKz2QCM=" crossorigin="anonymous"></script>     
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

{% block main %}
    {# Conteneur du calendrier avec des données passées via des attributs 'data-' pour les événements et les places disponibles #}
    <div id="calendar" data-events="{{ events|json_encode|e('html_attr') }}" data-places-disponibles="{{ app.request.attributes.get('placesDisponibles')|default(0) }}">
    </div>

    {# Fenêtre modale pour afficher les détails d'un événement sélectionné dans le calendrier #}
    <div class="modal fade" id="eventDetailsModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                {# En-tête de la modale avec le titre de l'événement et un bouton de fermeture #}
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title">${info.event.title}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {# Corps de la modale affichant les informations de l'événement sélectionné #}
                <div class="modal-body">
                    <div class="event-time">
                        <p><strong>Débute à :</strong> ${startTime}</p>
                        <p><strong>Termine à :</strong> ${endTime}</p>
                    </div>
                    <p><strong>Description :</strong> ${info.event.extendedProps.description}</p>
                    <p><strong>Places disponibles :</strong> ${info.event.extendedProps.placesDisponibles}</p>
                </div>
                {# Pied de la modale avec un bouton pour éventuellement réserver une place à l'événement #}
                <div class="modal-footer">
                    <button type="button" id="btnReserver" class="btn" data-bs-dismiss="modal">Reserver</button>
                </div>
            </div>
        </div>
    </div>
{% include 'components/carousel.html.twig'%}

{% endblock %}